<div class="col-md-4 col-md-offset-4">
    <h2>来点儿新鲜文章吧！</h2>

    <hr>
    <%= form_for @article do |f| %>

    <% if @article.errors.any? %>
    <ul>
      <% @article.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>

    标题
    <%= f.text_field :title %>
    <br>
    内容
    <br>
    <%= f.text_area :content %>
    <br>

    <%= f.submit "Submit", :disable_with => 'Submiting...' %>
    <% end %>

</div>
