<div class="col-md-12">
  <div class="article">

    <%= link_to("Write a comment", new_article_comment_path(@article), class: "btn btn-default pull-right") %>

    <% if current_user && current_user == @article.user %>
      <%= link_to("Edit", edit_article_path(@article), class: "btn btn-primary pull-right")%>
    <% end %>
  </div>
  <h2><%= @article.title %></h2>
  <p><%= @article.content %></p>

  <table class="table">
    <thead>
     <tr>
        <th>评论内容</th>
        <th>评论者</th>
        <th>评论时间</th>
      </tr>
    </thead>
    <tbody>
      <% @comments.each do |comment| %>
        <tr>
          <td><%= comment.say %></td>
          <td><%= comment.user.email %></td>
          <td><%= comment.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="text-center">
    <%= will_paginate @comments %>
  </div>

</div>
